numpy
scipy
scikit-learn
torch
transformers==4.46.3
sentence-transformers
streamlit
langchain-groq
langchain-community
langchain-huggingface
langchain-core
langchain-text-splitters
faiss-cpu
youtube-transcript-api
python-dotenv
